<form>
  <fieldset>
    <legend>Ingrédients</legend>
    <div class="d-flex row">
      <div class="flex-1">
        <select>
          <option value="">Ingredients</option>
        </select>
      </div>
      <div class="flex-1">
        <input type="number" min="0" placeholder="qtt" />
      </div>
      <div class="flex-1">
        <select>
          <option value="">Mesures</option>
        </select>
      </div>
      <div class="flex-1"><button>add</button></div>
    </div>
    <app-liste-ing></app-liste-ing>
  </fieldset>
</form>
