<h2>MH</h2>

<form class="d-flex column gap-10" [formGroup]="formgroup">
  <div class="flex-1 justify-center">
    <select formControlName="monster">
      <option *ngFor="let monster of monsters$ | async" [value]="monster.id">
        {{ monster.name }}
      </option>
    </select>
  </div>
  <div class="flex-1 d-flex row">
    <div class="flex-1 liste">WEAPONS</div>
    <div class="flex-1 liste">ARMORS</div>
  </div>

  <div class="flex-1 d-flex row" *ngFor="let weapon of weaponsWeak$ | async">
    <div class="flex-1">
      {{ weapon.name }}
      <ng-container *ngFor="let element of weapon.elements"
        >{{ element["type"] }}
      </ng-container>
    </div>
    <div class="flex-1">armor</div>
  </div>
</form>
