<h2>Humans :</h2>
<h3>corps</h3>
<div class="container d-flex column">
  <div class="flex-1">id</div>
  <div class="flex-1">color</div>
  <div class="flex-1">legs</div>
  <div class="flex-1">arm</div>
  <div class="flex-1">sex</div>
  <div class="flex-1">breast</div>
</div>

<!--  afficher  
    
    human 
    
    id: number,
    color: string;
    legs: IHumanLeg[];
    arms: IHumanArm[];
    sex: ISex,
    breasts: IBreast[] 


corps
        id: number,
    name: string,
    color: string,
    idBreast: number[],
    idLeg: number[],
    idArm: number[],
    idSexe: number
-->
